body {
    text-align: center;
    background-color: #193549;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:30px;
}
.prroperty{
    
    margin-bottom:20px;
}
:root{
    --spacing:10px;
    --base:#ffc600;
    --blur:10px;
}
img{
    margin-top: 100px;
    padding:var(--spacing);
    background: var(--base);
    filter:blur(var(--blur));
}
.h1{
    color:var(--base);
}